[data-amplify-router] {
    border-radius: 10px;
    box-shadow: none !important;
    border: #1F2937 1px solid !important;
    padding: 0px 0px;
    max-width: px;
}

.amplify-button--primary {
    background-color: #D9B341;
    padding: 12px;
    color:#111827;
}

.amplify-tabs__list {
    display: none;
}

.amplify-input {
    border: #1F2937 1px solid;
    background-color: #0A0F18;
    padding: 12px;
    border-radius: 8px;
    overflow: hidden;
}

.amplify-label{
    font-size: 11px;
    font-weight: 800;
}
.forgotPassword:hover{
text-decoration: underline;
}